<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ɛyɛ me life sɛ mɛ yɛ galamsey</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>tbh idk if anyone reads this so im just going to be telling you about my day on here make sure to no try to judge because we are all HUMAn and of course GOD and his angels are watching modasuka </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>idk how to control my anger this is nothig new to the people who kow me lol </p>
        </div>
    </body>
</html>
